*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    line-height:1.6;
}

header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:25px;
}

header h1{
    margin-bottom:10px;
}

nav{
    margin-top:15px;
}

nav a{
    text-decoration:none;
    color:white;
    margin:10px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:40px;
    background:white;
}

.hero img{
    width:220px;
    height:220px;
    border-radius:50%;
    border:5px solid #0d6efd;
}

section{
    padding:35px;
}

h2{
    color:#0d6efd;
    margin-bottom:15px;
}

.card{
    background:white;
    margin:15px 0;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

ul{
    margin-left:20px;
}

form{
    display:flex;
    flex-direction:column;
}

form input,
form textarea{
    margin:10px 0;
    padding:12px;
    border:1px solid #ccc;
}

button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:12px;
    cursor:pointer;
}

button:hover{
    background:#084298;
}

footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}

@media(max-width:768px){

.hero{
    flex-direction:column;
}

nav a{
    display:block;
    margin:10px 0;
}

}